<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>SpringTodoList</title>
</head>
<body  class="container mt-3">
  <h3>編集</h3>
  <form th:action="@{/update/{id}(id=${id})}" th:object="${todo}" method="post">
    <div>
      <h6>項目</h6>
      <input type="text" th:field="*{content}" placeholder="やること" size="40">
      <p th:errors="*{content}" class="todo-error-message"></p>
    </div>
    <br>

    <h6>メモ</h6>
      <input type="text" th:field="*{memo}" placeholder="空欄可能" size="60" />
    </div>
    <br><br>

    <div>
      <h6>日付け</h6>
      <input type="date" name="time" th:field="*{time}"  size="30"/>
      <p th:errors="*{time}" class="todo-error-message"></p>
    </div>
    <br><br>
    
    <div>
      <button type="submit" class="btn btn-primary">登録</button>
    </div>
  </form>
</body>
</html>

