<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>SpringTodoList</title>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
	  <script th:src="@{/js/dialog.js}" defer="defer"></script>
  </head>
  <body class="container mt-3">
    <h1>TodoList</h1>
    <br><br>
    <!-- <div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div> -->
    <h3>新規登録</h3>
    <form th:action="@{/create}" th:object="${todo}" method="post"  >
      <div>
        <h6>項目</h6>
        <input type="text" th:field="*{content}" placeholder="やることを記載" size="40">
        <p th:errors="*{content}" class="todo-error-message"></p>
      </div>
      <br>

      <h6>メモ</h6>
        <input type="text" th:field="*{memo}" placeholder="空欄可能" size="60" />
      </div>
      <br><br>

      <div>
        <h6>日付け</h6>
        <input type="date" name="time" th:field="*{time}"  size="30"/>
        <p th:errors="*{time}" class="todo-error-message"></p>
      </div>
      <br><br>
      
      <div>
        <button type="submit" class="btn btn-primary">登録</button>
      </div>
    </form>
    <br><br>

    <h5>未完了List</h5>
    <table class="table table-striped table-hover table-sm">
      <tr>
        <th style="width: 20%">完了ボタン</th>
        <th style="width: 30%">項目</th>
        <th style="width: 20%">日付け</th>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
      </tr>
      <tr th:each="todo : ${allTodo}">
        <div th:if="${!todo.done}">
          <td>
            <form method="POST" th:action="@{/done}">
            <input type="hidden" name="id" th:value="${todo.id}" />
            <button type="submit" class="btn btn-success rounded-0">□</button>
          </form>
          </td>
          <td><a th:href="@{/show/{id}(id=${todo.id})}"><p th:text="${todo.content}" ></p></a></td>
          <td th:text="${todo.time}"></td>
          <td><a th:href="@{/edit/{id}(id=${todo.id})}" class="btn btn-outline-primary">編集</a></td>
          <!-- <td><a th:href="@{/delete/{id}(id=${todo.id})}" class="btn btn-outline-danger">削除</a></td> -->
          <td>
            <form th:action="@{/delete/{id}(id=${todo.id})}" method="post">
              <button class="delete-action btn btn-outline-danger" type="submit" >削除</button>
            </form>
          </td>
        </div>
      </tr>
    </table>
    <br><br>

    <h5>完了List</h5>
    <table class="table table-striped table-hover table-sm">
      <tr>
        <th style="width: 20%">取り消しボタン</th>
        <th style="width: 30%">項目</th>
        <th style="width: 20%">日付け</th>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
      </tr>
      <tr th:each="todo : ${allTodo}">
        <div th:if="${todo.done}">
          <td>
            <form method="POST" th:action="@{/notdone}">
            <input type="hidden" name="id" th:value="${todo.id}" />
            <button type="submit" class="btn btn-success rounded-0">☑</button>
          </form>
          </td>
          <td><a th:href="@{/show/{id}(id=${todo.id})}"><p th:text="${todo.content}" ></p></a></td>
          <td th:text="${todo.time}"></td>
          <td><a th:href="@{/edit/{id}(id=${todo.id})}" class="btn btn-outline-primary">編集</a></td>
          <!-- <td><a th:href="@{/delete/{id}(id=${todo.id})}" class="btn btn-outline-danger">削除</a></td> -->
          <td>
            <form th:action="@{/delete/{id}(id=${todo.id})}" method="post">
              <button class="delete-action btn btn-outline-danger" type="submit" >削除</button>
            </form>
          </td>
        </div>
      </tr>
    </table>
    
    <br><br>
    <div class="delete-all">
      <form method="POST" th:action="@{/deleteAll}">
        <button type="submit" class="delete-action btn btn-danger">完了済みを削除</button>
      </form>
    </div>

    <br><br>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="ログアウト" />
    </form>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
  </body>

</html>